@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.anim {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255)
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
} 

.container {
  max-height: 100%;
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}