.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.copyright {
    font-weight: 500;
    font-size: 14px;
    margin-left: 12rem;
    margin-top: 10px; 
}

.para {
    margin: 0;
}